@import "modules/app.scss";
@import "modules/buttons.scss";
@import "modules/glass.scss";

@import "~normalize.css";

@import "_variables";

body {
  background: #3767ad;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}